@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 px-5">
    <div class="column">
        <center>
            <div class="col-lg-2"><a class="btn btn-primary btn-lg btn-block">Parent</a></div>
            <div class="col-lg-2"><a class="btn btn-secondary btn-lg btn-block">Child</a></div>
        </center>
    </div>
</div>
