@model ISAD251REF.Models.Appointments

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Appointments</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AppointmentId" />
                <div class="form-group">
                    <label asp-for="FamilyMemberId" class="control-label"></label>
                    <select asp-for="FamilyMemberId" class="form-control" asp-items="ViewBag.FamilyMemberId"></select>
                    <span asp-validation-for="FamilyMemberId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentTypeId" class="control-label"></label>
                    <select asp-for="AppointmentTypeId" class="form-control" asp-items="ViewBag.AppointmentTypeId"></select>
                    <span asp-validation-for="AppointmentTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentDate" class="control-label"></label>
                    <input asp-for="AppointmentDate" class="form-control" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentNotes" class="control-label"></label>
                    <input asp-for="AppointmentNotes" class="form-control" />
                    <span asp-validation-for="AppointmentNotes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
